<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
      body {
          font-family: Helvetica, Arial, sans-serif;
          margin: 0;
          padding: 0;
      }
  </style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="64" bgcolor="#151515">
  <tr>
    <td align="center" valign="top">

      <table width="600" border="0" cellspacing="0" style="padding: 0" bgcolor="#070707">
        <!-- Header -->
        <td align="center" valign="middle" height="32" style="padding: 0px 32px;"></td>
        <tr>
          <td align="center" valign="middle" height="64" style="padding: 0px 32px;">
            <img src="https://api.duelduck.com/static/big-logo-duck.png" alt="" style="height: 64px; width: 64px">
          </td>
        </tr>
        <td align="center" valign="middle" height="24" style="padding: 0px 32px;"></td>
        <tr>
          <td align="center" style="padding: 0px 32px;" valign="middle" >
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:25px;line-height:140%;color:#FFC54D;font-weight:600;margin: 0;">Are you ready for a duel?</p>
          </td>
        </tr>
        <td align="center" valign="middle" height="24" style="padding: 0px 32px;"></td>
        <!-- End Header -->

        <!-- Main Content -->
        <tr>
          <td align="start" style="padding: 0px 32px;" valign="middle">
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:400;margin: 0;">
              Quack to you, our new friend!
            </p>
            <br/>
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:700;margin: 0;">
              Duel Duck is a WEB-3 blockchain prediction platform where you can guess what will happen next in sports, crypto, and gaming.
            </p>
            <br/>
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:400;margin: 0;">
              Let's figure out how Duel Duck works:
            </p>
          </td>
        </tr>
        <td align="center" valign="middle" height="24" style="padding: 0px 32px;"></td>
        <tr>
          <td style="padding: 0px 32px;">
            <ul style="padding-left: 30px; font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:400;margin: 0;">
              <li>Choose a topic: crypto, gaming, sports.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" height="16" style="padding: 0px 32px;"></td>
        </tr>
        <tr>
          <td style="padding: 0px 32px;">
            <img src="https://api.duelduck.com/static/find-topic.png" alt="" style="height: 160px; width: 328px">
          </td>
        </tr>
        <td align="center" valign="middle" height="32" style="padding: 0px 32px;"></td>
        <tr>
          <td style="padding: 0px 32px;">
            <ul style="padding-left: 30px; font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:400;margin: 0;">
              <li>Make a <p style="display:inline; color: #B0D356;">YES</p> or <p style="display:inline; color: #F6762E;">NO</p> prediction in a duel.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" height="16" style="padding: 0px 32px;"></td>
        </tr>
        <tr>
          <td style="padding: 0px 32px;">
            <img src="https://api.duelduck.com/static/duck-card.png" alt="" style="height: 396px; width: 328px">
          </td>
        </tr>
        <td align="center" valign="middle" height="32" style="padding: 0px 32px;"></td>
        <tr>
          <td style="padding: 0px 32px;">
            <ul style="padding-left: 30px; font-family: Helvetica, Arial, sans-serif;font-size:16px;line-height:130%;color:#FFF;font-weight:400;margin: 0;">
              <li>Get rewarded for each successful prediction.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" height="16" style="padding: 0px 32px;"></td>
        </tr>
        <tr>
          <td style="padding: 0px 32px;">
            <img src="https://api.duelduck.com/static/colect-rewards.png" alt="" style="height: 160px; width: 328px">
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" height="32" style="padding: 0px"></td>
        </tr>
        <!-- End Main Content -->

        <!-- Footer -->
        <td align="center" valign="middle" height="32" style="padding: 0px 32px; border-top: 2px solid rgba(255, 255, 255, 0.10);"></td>
        <tr >
          <td align="center" style="padding: 0px 32px;">
            <img src="https://api.duelduck.com/static/duck-warrior.png" alt="" style="height: 152px; width: 98px">
          </td>
        </tr>
        <td height="24"></td>
        <tr >
          <td align="center" style="padding: 0px 32px;">
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:25px;line-height:140%;color:#FFC54D;font-weight:600;margin: 0;">Try your luck with Duel Duck. Quack!</p>
          </td>
        </tr>
        <td height="24"></td>
        <tr>
          <td align="center" valign="middle" >
            <a href="https://duelduck.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
              <img src="https://api.duelduck.com/static/lets-duel-btn.png" alt="" style="width: 146px; height: 38px;">
            </a>
          </td>
        </tr>
        <td height="24"></td>
        <tr>
          <td align="center" valign="middle" height="20" >
            <a href="https://x.com/duelduckcom" target="_blank" rel="noopener noreferrer" style="text-decoration: none; margin-right: 24px;">
              <img src="https://api.duelduck.com/static/big-X-icon.png" alt="" style="width: 32px; height: 32px;">
            </a>
            <a href="https://duelduck.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
              <img src="https://api.duelduck.com/static/big-duck-gray.png" alt="" style="width: 32px; height: 32px;">
            </a>
          </td>
        </tr>
        <tr>
          <td height="24"></td>
        </tr>
        <tr>
          <td align="center" valign="middle" style="padding: 0px 32px;" height="34">
            <p style="font-family: Helvetica, Arial, sans-serif;font-size:14px;line-height:140%;color:#A7A7A7;margin: 0;font-weight: 400;">Copyright © 2024 Duel Duck. All Rights Reserved. DUEL DUCK LCC 17 Duke St, London W1U 1DL, United Kingdom</p>
          </td>
        </tr>
        <td height="32"></td>
        <!-- End Footer -->
      </table>
    </td>
  </tr>
</table>
</body>
</html>